[submodule "submodules/lib4u"]
	path = submodules/lib4u
	url = https://github.com/nthend/lib4u.git
[submodule "submodules/engine"]
	path = submodules/engine
	url = https://github.com/fti-ooad-project/engine.git
[submodule "submodules/view-engine"]
	path = submodules/view-engine
	url = https://github.com/fti-ooad-project/view-engine.git
