*~
*.includes
*.files
*.creator
*.creator.user
*.config

!source.files

android/
desktop/

!android/jni/
!android/res/
!android/AndroidManifest.xml
!android/build
!android/run
!android/update

!desktop/source/
!desktop/build
!desktop/clean
!desktop/makefile
